{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <!-- About Us Header -->
    <div class="row justify-content-center text-center">
        <div class="col">
            <h1>About Us</h1>
            <p class="lead">Learn more about us.</p>
            <hr>
        </div>
    </div>

    <!-- Mission Section -->
    <div class="row my-5">
        <div class="col-md-6">
            <img src="https://th.bing.com/th/id/OIP.3wMK3hWOvCxPC1pk4du1fgHaHa?rs=1&pid=ImgDetMain"
                 alt="Mission Image" class="img-fluid">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h2>Our Mission</h2>
                <p>Our vision is to provide products to everyone and everywhere.</p>
            </div>
        </div>
    </div>

    <!-- Vision Section -->
    <div class="row my-5">
        <div class="col-md-6 d-flex align-items-center order-md-1">
            <div>
                <h2>Our Vision</h2>
                <p>Our vision is to grow together with our customers. Happy Customer, Happy Company.</p>
            </div>
        </div>
    </div>

    <!-- Team Section -->
    <div class="row my-5">
        <div class="col text-center">
            <h2>Meet Our Team</h2>
            <p>It is just me</p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4">
            <img src="https://th.bing.com/th/id/R.a45c45c298967d217fe71d2bf3253840?rik=rkOWRO1Oo8X%2fag&pid=ImgRaw&r=0"
                 alt="Team Member" width="150" class="img-thumbnail">
            <h3>Nino Kokhreidze</h3>
            <p>CEO & Founder</p>
        </div>
    </div>
</div>

{% endblock %}
