{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">My Profile</h2>

    <!-- Profile Section -->
    <div class="row">
        <!-- User Information -->
        <div class="col-md-4">
            <h4>User Information</h4>
            <ul class="list-group">
                <li class="list-group-item"><strong>Email:</strong> {{user.email}}</li>
                <li class="list-group-item"><strong>Username:</strong> {{user.username}}</li>
                <li class="list-group-item">
                    <strong>Password:</strong> ******
                    <button class="btn btn-warning btn-sm ms-2" data-bs-toggle="collapse" data-bs-target="#changePasswordForm">Change Password</button>
                </li>
            </ul>

            <div class="collapse mt-4" id="changePasswordForm">
                <h5>Change Password</h5>
                <form method="POST">
                    <!-- Change Password Form -->
                    {% csrf_token %}
                    {{ password_form|crispy }}

                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" name="current_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="new_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirm_password" required>
                    </div>
                    <button type="submit" name="change_password" class="btn btn-warning">Submit</button>
                </form>
            </div>
        </div>

        <!-- Profile Details -->
        <div class="col-md-6">
            <h4>Profile Details</h4>

            {% if Profile.profile_image%}
            <img src="{{profile.profile_image.url}}" class="img-thumbnail mb-3" alt="Profile Image" style="width: 150px; height: 150px;">
            {% else %}
            <p>Profile Image is not uploaded</p>
            {% endif %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ profile_form|crispy}}
                <button type="submit" name="update_profile" class="btn btn-primary">Update Profile</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}